.App {
  text-align: center;
  margin: 0;
  padding: 0;
}


.title {
  font-family: "Carter One";
}
.header { 
  background: #ffff64;
  height: 75px;
  width: 100%;
  padding: 20px 0;
}

.header .logo_container {
  display: flex;
  justify-content: center;  
  flex-direction: column;
  align-items: center;
} 

.header .nav_menu {
  display: table; 
  margin: 0 auto; 
} 
.nav_menu ul {
  list-style: none;
}
ul li {
  display: inline;
}

.header h2{
  margin: 0;
}

.hero_section {
  width:100%;
  height: 300px;
  font-family: Programme,sans-serif; 
  text-align: center;
  background: #ffff64;
  display: flex;
  border-bottom: 3px solid #ff6464;
}
.hero_section .main_container {
  width: 100%;
}
.hero_section .search_container {
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000
}

.hero_section .tagline_container {
  text-align: center;
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
} 
.songs_container {
  /* background: green;  */
  /* height: 700px; */
} 
.button_container {
  margin-top: 10px;
}
.button_container .call_to_action {
  text-transform: uppercase;
  font-family: Programme,sans-serif;
  padding: .7em 2em;
  font-size: 1.3em;
  display: inline-block;
  border: 3px solid #000;
  margin: 0 auto;
  background: #ffff64;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.image_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(50px, 100px);
}
.image_grid, img {
  /* display: flex; */
  /* width: 100px; */
  /* height: 100px; */
  /* object-fit: cover; */
  height: 250px;
  border: 4px solid black; 
  margin: 5px; 
}
